

.film{
    .film_img{
        .film_poster{
            .film_overlay{
                cursor: pointer;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, #000, transparent 100%);
                transition: all 0.2s 0.2s ;
                height: 200px;
            }
        }
    }
}

.film_overlay{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    padding-top:"147.9%" ;
    border-radius: 4;
}